    html {
      height: 100%;
      margin: 0;
    }
    
    body {
      height: 100%;
      margin: 0;
      font-family: 'Nunito', sans-serif;
    }
    
    #m {
      height: 100%;
      background-color: #eee;
      background: -webkit-radial-gradient(#eee, #333);
      background: -o-radial-gradient(#eee, #333);
      background: -moz-radial-gradient(#eee, #333);
      background: radial-gradient(#eee, #333);
      margin: 0;
    }
    
    #c {
      position: absolute;
      top: 20%;
      left: 20%;
      bottom: 20%;
      right: 20%;
    }
    
    #c svg {
      height: 100%;
      width: 100%;
    }
    
    #w {
      width: 100%;
      color: #222;
      text-align: right;
      font-size: 20px;
    }